{% extends "base.html" %}
{% block title %} Add Review {% endblock %}
{% block content %}
<p>Add a Review</p>
<form action="#" method="post">
    <p>Dept Code</p>
    <p><input type = "text" name = "DeptCode"></p>
    <p>Course Number</p>
    <p><input type = "text" name = "CourseNo"></p>
    <p>Rating</p>
    <p><input type = "number" name = "rating"></p>
    <p>Your Textual Description</p>
    <p><input type = "text" name = "textual_review"></p>
    <p><input type = "submit" value="submit"></p>
</form>
    <li><a href="{{ url_for('Student', sid = sid) }}">Back</a></li>
{% endblock %}