{% extends "base.html" %}
{% block title %} AUC Catalog {% endblock %}
{% block content %}
<tr>The website is divided into three parts: <br><br><h4>Student</h4> where a student can review the available courses to take on a given semester, add a review on a course and add courses to his list of finished courses. <br><br><h4>Courses</h4>where all students can view course information and reviews. <br><br><h4>Administration</h4> where the registrar person can add new student</tr>
{% endblock %}
